body{
    background-color: #f0f0f0;
    font-family: Arial;
    margin: 0;
    padding: 2%;
    font-size: 16px;
    color: #333;

    /* justify-content: center;
    align-items: center; */
    /* height: 100vh; */
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.mauto{
    margin: auto;
}
.mlenght{
    margin: 10px;
}
.mpercent{
    margin: 5%;
}
.pauto{
    padding: auto;
}
.plenght{
    padding: 10px;
}
.ppercent{
    padding: 5%;
}
.float-left{
    width: 200px;
    background-color: lightblue;
    float: left;
}
.float-right{
    width: 200px;
    background-color: lightblue;
    float: right;
}
.float-none{
    width: 200px;
    background-color: lightblue;
    float: none;
}
