body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    text-align: justify;
    margin: 0;
    padding: 2%;
    color: #333;
}
.container{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 5px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 2px solid #000;
}
.float-left{
    float: left;
}
p{
    margin: 10px;
}